@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  line-height: 2em;
}

p{
  font-size: 1.1em;
}

h3{
  font-size: 1.3em;
}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vh;
  background-color: #FFC7C7; /* light pink */
  margin-bottom: 5vh;
  width: 100%;
}

.nav li{
  list-style: none;
}

.nav a{
  display: flex;
  text-decoration: none;
  color: black;
  padding: 2vh;
}

.nav a:hover{
  background-color: #FF8686; /*darker pink; */
  color: white; /* text is white */
}

#home{
  background-color: #fe7b7b;
  /* cornsilk; */
  /* #FFD6B9;  */
  /* #FFE79B; /* pale yellow */ */
  /* #FFC386; */
}

#desen{
  height: 100vh;
  background-image: linear-gradient(#FFC7C7, white);
  background-size: contain;
}

#increase .nav ul{
  /* background-color: white; */
  /* palevioletred; */
}

#increase{
  /* background-color: mediumvioletred; */
  /* #E190F0; */
  /* lavender; */
  /* used https://cssgradient.io/ */
  height: 100vh;
  background: rgb(255,255,255);
  background-image: linear-gradient(#FFC7C7, #ff3c3c);
  background-size: contain;
  background-attachment: fixed;
}

#sources .nav ul{
  /* background-color: #F0759E; */
  /* #F962A8; */
}
#sources{
  height: 100vh;
  background-image: linear-gradient(#FFC7C7, white);
  background-size: contain;
  background-attachment: fixed;
  /* background-color: #F05286; */
}

.header{
  grid-area: header;
}

.defin{
  grid-area: defin;
}

.content{
  grid-area: content;
}

.row{
  grid-area: row;
}

.content2{
  grid-area: content2;
}

.images{
  grid-area: images;
}

.mainContent{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3vmin;
  grid-template-areas: ". . header header header header . ."
                       ". . . defin defin . . ."
                       ". . content content content content . ."
                       ". . row row row row . ."
                       ". . images images images images . ."
                       ". . content2 content2 content2 content2 . ."
}

.emph {
  padding: 5vmin;
  background-color: lightpink;
  border-left: solid;
  border-radius: 15vmin;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 5vmin;
  width: 100%;
}

.row .with, .row .without{
  width: 50%;
}

.ion-icon{
  font-size: 50vh;
}

img{
  max-height: 50vh;
}

.increase{
  height: 80vh;
  margin-bottom: 10vh; 
}

#inc1{
  grid-area: inc1;
}
#inc2{
  grid-area: inc2;
}
#inc3{
  grid-area: inc3;
}
#inc4{
  grid-area: inc4;
}
#inc5{
  grid-area: inc5;
}
#inc6{
  grid-area: inc6;
}
.arrow{
  grid-area: arrow;
}

.incContent{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3vmin;
  margin-bottom: 20vh;
  grid-template-areas: ". . header header header header . ."
                       ". . content content content content . ."
                       ". . . arrow arrow . . . "
                       ". inc1 inc1 inc1 inc1 inc1 inc1 ."
                       ". . . inc2 inc2 inc2 inc2 ."
                       ". inc3 inc3 inc3 . . . ."
                       ". . . inc4 inc4 inc4 . ."
                       ". . inc5 inc5 inc5 . . ."
                       ". . . inc6 inc6 inc6 . ."

}

.incContent .header{
  text-align: center;
}

.incContent .content{
  height: 100vh;
}

.incContent .row p{
  max-height: 100%;
}

.incContent .row img{
  max-width: 60%;
}

/* referenced https://www.w3schools.com/howto/howto_css_arrows.asp */
.incContent .arrow{
  display: flex;
  justify-content: center;
}

.incContent .downArr{
  border: solid;
  border-width: 0 1vmin 1vmin 0;
  padding: 3vmin;
  transform: rotate(45deg);
}

.increase{
  height:60vh;
}

.sourcesLinks{
  grid-area: links;
  max-width: 100%;
}

.sourcesVids{
  grid-area: sourceVid;
}

.sourcesContent{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3vmin;
  grid-template-areas: ". . header header header header . ."
                       ". . links links links links . ."
                       ". . sourceVid sourceVid sourceVid sourceVid  . ."
}
