@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  line-height: 2em;
}

p{
  font-size: 1.1em;
}

h3{
  font-size: 1.3em;
}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vh;
  background-color: #FFC7C7; /* light pink */
  margin-bottom: 5vh;
  width: 100%;
}

.nav li{
  list-style: none;
}

.nav a{
  display: flex;
  text-decoration: none;
  color: black;
  padding: 2vh;
}

.nav a:hover{
  background-color: #FF8686; /*darker pink; */
  color: white; /* text is white */
}

#home{
  background-color: #fe7b7b;
  /* cornsilk; */
  /* #FFD6B9;  */
  /* #FFE79B; /* pale yellow */ */
  /* #FFC386; */
}

#desen{
  height: 100vh;
  background-image: linear-gradient(#FFC7C7, white);
  background-size: contain;
}

#increase .nav ul{
  background-color: #FFB961;
  /* palevioletred; */
}

#increase .nav a:hover{
  background-color: #FB9D4A;
}

#increase{
  /* background-color: mediumvioletred; */
  /* #E190F0; */
  /* lavender; */
  /* used https://cssgradient.io/ */
  /* height: 100vh; */
  background-color: #FB9D4A;
  /* background: rgb(255,255,255); */
  /* background-image: linear-gradient(#FFC7C7, #ff3c3c); */
  /* background-size: contain; */
  /* background-attachment: fixed; */
}

#sources .nav ul{
  /* background-color: #F0759E; */
  /* #F962A8; */
}
#sources{
  height: 100vh;
  background-image: linear-gradient(#FFC7C7, #FFB961);
  background-size: contain;
  background-attachment: fixed;
}

.header{
  grid-area: header;
}

.defin{
  grid-area: defin;
}

.content{
  grid-area: content;
}

.row{
  grid-area: row;
}

.content2{
  grid-area: content2;
}

.images{
  grid-area: images;
}

.circles{
  grid-area: circle;
}

/* .upArr{
  border: solid;
  border-width: 0 1vmin 1vmin 0;
  padding: 3vmin;
  transform: rotate(45deg);
} */

/* button{
  display: flex;
  justify-content: center;
} */

ion-icon {
  color: salmon;
}

/* referenced https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#topBtn{
  display: none;
  grid-area: button;
  position: fixed;
  bottom: 3vmin;
  right: 3vmin;
  cursor: pointer;
  background-color: #FFC7C7;
  border: none;
  border-radius: 50%;
  height: 8vmin;
  width: 8vmin;
}

#topBtn:hover{
  opacity: 0.8;
}

.mainContent{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3vmin;
  /* grid-template-areas: ". . header header header header . ."
                       ". . . defin defin . . ."
                       ". . content content content content . ."
                       ". . row row row row . ."
                       ". . images images images images . ."
                       ". . content2 content2 content2 content2 . ." */
   grid-template-areas: ". circle header header header header . ."
                        ". circle . defin defin . . ."
                        ". circle content content content content . ."
                        ". circle row row row row . ."
                        ". circle images images images images . ."
                        ". . content2 content2 content2 content2 . button"
}


.emph {
  padding: 8vmin;
  margin: 3vmin 0 3vmin 0;
  background-color: lightpink;
  border-radius: 15vmin;
}

.pic{
  display: flex;
  justify-content: center;
}

.parallax-pic{
    max-height: 50vh;
    width: 90%;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 5vmin;
  width: 100%;
}

.incContent .row {
  align-items: center;
}

.row .with, .row .without{
  width: 50%;
}

.circles ul{
  list-style: none;
}
.circles li{
  height: 10vh;
  width: 10vh;
  background-color: pink;
  border: solid pink;
  border-radius: 50%;
}

#c1{
  position: fixed;
  /* background-color: salmon; */
  top: 0vmin;
  left: 20vmin;
}

#c2{
  position: fixed;
  top: 12vmin;
  left: 20vmin;
}

#c3{
  position: fixed;
  /* background-color: salmon; */
  top: 24vmin;
  left: 20vmin;
}

#c4{
  position: fixed;
  /* background-color: lightpink; */
  top: 36vmin;
  left: 20vmin;
}

img{
  max-height: 50vh;
  border-radius: 1vmin;
}

.increase{
  height: 80vh;
  margin-bottom: 10vh;
}

.increase:nth-last-of-type(2){
  padding-top: 10vh;
}

.increase:last-of-type{
  margin-bottom: 0;
}

#inc1{
  grid-area: inc1;
}
#inc2{
  grid-area: inc2;
}
#inc3{
  grid-area: inc3;
}
#inc4{
  grid-area: inc4;
}
#inc5{
  grid-area: inc5;
}
#inc6{
  grid-area: inc6;
}
.arrow{
  grid-area: arrow;
}

.incContent{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3vmin;
  margin-bottom: 20vh;
  grid-template-areas: ". . header header header header . ."
                       ". . content content content content . ."
                       ". . . arrow arrow . . . "
                       ". inc1 inc1 inc1 inc1 inc1 inc1 ."
                       ". . . inc2 inc2 inc2 inc2 ."
                       ". inc3 inc3 inc3 inc3 inc3 . ."
                       ". . inc4 inc4 inc4 inc4 inc4 ."
                       ". inc5 inc5 inc5 inc5 inc5 . ."
                       ". inc6 inc6 inc6 inc6 inc6 inc6 ."

}

.incContent .header{
  text-align: center;
}

.incContent .content{
  height: 100vh;
}

.incContent .row p{
  max-height: 100%;
}

.incContent .row img{
  max-width: 60%;
  border-radius: 5vmin;
}

/* referenced https://www.w3schools.com/howto/howto_css_arrows.asp */
.incContent .arrow{
  display: flex;
  justify-content: center;
}

.incContent .downArr{
  border: solid;
  border-width: 0 1vmin 1vmin 0;
  padding: 3vmin;
  transform: rotate(45deg);
  animation-name: updown;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes updown{
  from{
    transform: translate(0) rotate(45deg);
  }
  to{
    transform: translate(0, 3vmin) rotate(45deg);
  }
}

.increase{
  height:60vh;
}

.sourcesLinks{
  grid-area: links;
  max-width: 100%;
}

.sourcesVids{
  grid-area: sourceVid;
}

.sourcesContent{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3vmin;
  grid-template-areas: ". . header header header header . ."
                       ". . links links links links . ."
                       ". sourceVid sourceVid sourceVid sourceVid sourceVid sourceVid ."
}
